%html
  %head
    %title
      Hack Challenge
    %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"} 
    // %script{:type => 'text/javascript', :src =>'/javascripts/prototype.js'}
    // %script{:type => 'text/javascript', :src => '/javascripts/scriptaculous.js?load=slider,controls'}        
  %body
    %div{:id => 'foo'}
      %h1
        Girl Geek Meetup Hack Challenge
      = yield 
      // %script{:type => 'text/javascript', :src => '/javascripts/themex.js'}        
